<section class="homeBanner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="let-us">
                    <p>LET US GUIDE YOUR HOME</p>
                </div>
                <h1>Believe in finding it</h1>
                <h5>Search properties for sale and to rent in the UK</h5>
                <div class="search-btn">
                    <input type="text" class="search-field" placeholder="Enter Name, Keywords ...">
                    <button type="button" class="addon-btn"><img src="assets/images/search.png" alt=""></button>
                </div>
                <h5 class="mb-5">What are you looking for?</h5>
                <div class="banner-look-list">
                    <ul>
                        <li>
                            <img src="assets/images/b-icon-01.png" alt=""> <p>Modern Villa</p>
                        </li>
                        <li>
                            <img src="assets/images/b-icon-02.png" alt=""> <p>Apartment</p>
                        </li>
                        <li>
                            <img src="assets/images/b-icon-03.png" alt=""> <p>Town House</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>