<section class="workWithus">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h2 class="section-title">Why You Should Work With Us</h2>
                <p class="section-small-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-5">
            <div class="col-lg-3">
                <img src="assets/images/work-us-01.png" alt="" class="img-fluid">
                <h5 class="my-3">Wide Range of Properties</h5>
                <p>We offer expert legal help for all related property items in Dubai.</p>
            </div>
            <div class="col-lg-3">
                <img src="assets/images/work-us-02.png" alt="" class="img-fluid">
                <h5 class="my-3">Wide Range of Properties</h5>
                <p>We offer expert legal help for all related property items in Dubai.</p>
            </div>
            <div class="col-lg-3">
                <img src="assets/images/work-us-03.png" alt="" class="img-fluid">
                <h5 class="my-3">Wide Range of Properties</h5>
                <p>We offer expert legal help for all related property items in Dubai.</p>
            </div>
        </div>
    </div>
</section>
